
@{
    ViewBag.Title = "Index";
}
@model Teach.Web.Models.Home.IndexModel

<script type="text/javascript">
    //加入暫停 繼續
    $(function () {
        // Declare a proxy to reference the hub.
        var timerManagerHub = $.connection.timerManagerHub;
        // Create a function that the hub can call to broadcast messages.
        timerManagerHub.client.data = function (tableData) {
            //<tr data-row-id="guid....."><td data-prop-name="Name"></td></tr>
            data = JSON.parse(tableData);
            targetRow = $("tr", "#TBody_TimersTBoby").filter(function () {
                return $(this).data("rowId") == data.DataId;
            });
            if (data.IsRemoved) {
                targetRow.remove();
            }
            else if (targetRow.length == 0) {
                tableRow = '<tr data-row-id="' + data.DataId + '"> ';
                tableRow += '<td>' + data.Name + '</td>';
                tableRow += '<td>' + data.StartDateTime + ' ~ ' + data.EndDateTime + '</td>';
                tableRow += '<td>' + data.NextExecutionDateTime + '</td>';
                tableRow += '<td>' + data.Status + '</td>';
                tableRow += '</tr>';
                $('#TBody_TimersTBoby').append(tableRow);
            } else if (targetRow.length != 0) {
                tableRow = '<td>' + data.Name + '</td>';
                tableRow += '<td>' + data.StartDateTime + ' ~ ' + data.EndDateTime + '</td>';
                tableRow += '<td>' + data.NextExecutionDateTime + '</td>';
                tableRow += '<td>' + data.Status + '</td>';
                targetRow.html(tableRow);
            }
        }
        $.connection.hub.start();
    });
</script>


<script type="text/javascript">
    //生產
 


</script>



<script type="text/javascript">
    //消費後
</script>


<div class="row">
    <div class="panel  panel-default">
        <div class="panel-heading">排程器</div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>排程事件型別</td>
                    <td>有效執行區間</td>
                    <td>下次執行</td>
                    <td>程式執行狀態</td>
                </tr>
            </thead>
            <tbody id="TBody_TimersTBoby"></tbody>
        </table>

    </div>
</div>

<!--取得生產者-->
<div class="row">
    <div class="panel  panel-success">
        <div class="panel-heading">生產者</div>



    </div>
</div>

<!--取得消費者-->
<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">消費者</div>



    </div>
</div>







