
@{
    ViewBag.Title = "Index";
}
@model Teach.Web.Models.Home.IndexModel
<script type="text/javascript">
    $(function () {
        // Declare a proxy to reference the hub. 
        var test = $.connection.testHub;
        // Create a function that the hub can call to broadcast messages.
        test.client.receiveTimersData = function (tableData) {
            $("#TBody_TimersTBoby").html(tableData);
        }
        $.connection.hub.start().done(function () {
            $("#Span_hear").html("SignalR 初始化完成");
        });
    });
</script>
<div>
    <span class="label label-info" id="Span_hear">123</span>
    <span class="label label-info" id="Span_hear2"></span>
</div>

    <div id="Div_TimerStatus">
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>排程事件型別</td>
                    <td>有效執行區間</td>
                    <td>下次執行</td>
                    <td>程式執行狀態</td>
                </tr>
            </thead>
            <tbody id="TBody_TimersTBoby">
             
            </tbody>
        </table>
    </div>
